@import "tailwindcss";

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #DA3D20, #3D45AA);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #DA3D20 50%, #3D45AA 50%);
  --vp-home-hero-image-filter: blur(44px);
}

.name {
  max-width: 100% !important;
}

.text {
  max-width: 100% !important;
}
